//fonts
$headings: "Playfair Display", serif;
$bodyFont: "Merriweather", serif;

// background colors
$bg1: #201f24; 			//black
$bg2: #fff; 			//white

//font colors & borders

$color1: #fff;		//white
$color2: #858388; 	//grey
$color3: #eab880; 	//light-orange
$color4: #201f24;	//black

$fa-font-path: "../font";


