@import "_variables";

// base styles

body {
	background: $bg2;
	color: $color2;
	font-family: $bodyFont;
	font-size: 14px;
	line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $headings;
	color: $color4;
}

a {
	color: $color1;
	text-decoration: none;

	&:hover {
		color: $color3;
		border-bottom: 4px double $color1;
	}
}

button {
	background: $bg2;
	border: 4px double $color3;
}

header, footer {
	background: $bg1;
}